driver: org.postgresql.Driver
url: jdbc:postgresql://localhost:5432/senior
classpath: ../../../postgresql-42.2.18.jar
username:
password:
changeLogFile: ./changelog.xml
contexts: PUT_CONTEXT_NAME_HERE

